<h1>Olá mundo!</h1>
<p>O nome de usuário é {{user.name}} {{user.surname}}</p>
{{#if auth}}
  <p>Você está autenticado,
    <a href="./dashboard">clique aqui para acessar a área de membros!</a></p>
{{/if}}